name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        toolchain:
          - 1.71.0
          - stable
          - nightly

        os:
          - "ubuntu-latest"
          - "macos-latest"
          - "windows-latest"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          toolchain: ${{ matrix.toolchain }}
      - run: cargo fmt --check
      - run: cargo clippy --all-targets
      - run: cargo test --all
